/*
-   website 6 "Employeement"
-   Designed & Developed by Mayank
-   CopyRight By Mayank
-   CSS : css/responsive
*/

/*
    1200PX SCREEN CSS ---
*/
@media screen and (max-width:1200px)
{
}
/*
    992PX SCREEN CSS ---
*/
@media screen and (max-width:992px)
{
	/* main */
	#main
	{
		display:none;
	}
}
/*
    768PX SCREEN CSS ---
*/
@media screen and (max-width:768px)
{
     /*
	     LOGIN CSS ---
     */
     #login
     {
          display:block !important;
     }
     #login form
     {
	     width: 90% !important;
	     margin: 2rem auto;
     }
}
/*
    576PX SCREEN CSS ---
*/
@media screen and (max-width:576px)
{
    /*  */
}
/*
    400PX SCREEN CSS ---
*/
@media screen and (max-width:400px)
{
    
}
/*
    the end ==========================
*/
