/*
*	website 7 Evil-Corp
*	All Right Reserved Desgined by Mayank
*	CSS style/main
*/

@import "style1.css";
@import "style2.css";

*
{
	margin:0;
	text-decoration: none;
	user-select: none;
	font: 16px 'arial';
	color:#000;
	outline: none;
	border: none;
	box-sizing: border-box;
}
html{
	scroll-snap-type: y mandatory ;
}
body
{
	background:#111;
	overflow-x: hidden;
	overflow-y: scroll;
}
#header,#about, #read, #footer
{
	scroll-snap-align: start;
}